@(userForm: Form[EventManager])

@import helper._

<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/navbar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/cards.css")">
        <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/navbar.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/cards.js")" type="text/javascript"></script>
        <title>Create Event Manager</title>
    </head>
    <body>

        <h3>Create Event Manager</h3>
        @helper.form(action = helper.CSRF(routes.EventManagerController.saveEventManager())){
            <div class="input-group">@helper.inputText(userForm("userName"))</div>
            <div class="input-group">@helper.inputText(userForm("userEmail"))</div>
            <div class="input-group">@helper.inputText(userForm("userPassword"))</div>
            <div class="input-group">@helper.inputText(userForm("phoneNo"))</div>

            <input type="submit" value="Sign up" class="btn btn-success">
        }
    </body>
</html>