@(eventManager: User, ownedEvents: List[Event])

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/navbar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/cards.css")">
        <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/navbar.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/cards.js")" type="text/javascript"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>Event Manager Dashboard</title>
    </head>

    <body>
            <!--HamBurger Icon-->
        <div class="bars" id="nav-action">
            <span class="bar"> </span>
        </div>

            <!--Navbar Links-->
        <nav id="nav">
            <ul>
                <li class="shape-circle circle-two"><a href="/signOut">Sign Out</a></li>
                <li class="shape-circle circle-five">
                    <a href="/eventManager/showProfile/@eventManager.getUserEmail">Profile</a>
                </li>
            </ul>
        </nav>

        <br>
        <br>
        <br>
        <script>
                $().alert('close');
        </script>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            </button>
            <h6> Logged in as @eventManager.getUserEmail</h6>
        </div>


        <div class = "container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <a href="/event/create"><button class="btn btn-lg btn-info btn-block">Create Event</button></a>
                </div>
            </div>

        </div>

        <div class="container">
            <h4>Your Events</h4>
            <ul>
                <li>
                    @*<a href ="/event/show/@ownedEvents.get(index).getEventId">@ownedEvents.get(index).getEventName</a>*@
                </li>
            </ul>
            <div class="row active-with-click">
            @for(index <- 0 until ownedEvents.size) {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <article class="material-card Blue">
                        <h2>
                            <p>@ownedEvents.get(index).getEventName</p>
                            <strong>
                                <i class="fa fa-fw fa-star"></i>
                                @ownedEvents.get(index).getEventLocation
                            </strong>
                        </h2>
                        <div class="mc-content">
                            <div class="img-container">
                                <img class="img-responsive" src="@routes.Assets.versioned("images/dummy.jpg")">
                            </div>
                            <div class="mc-description">
                            <p>Number of Available Seats: <strong> @ownedEvents.get(index).getAvailableNoOfSeats</strong></p>
                                <p> Cost per Ticket :<strong>$ @ownedEvents.get(index).getPerTicketCost</strong></p>
                            </div>
                        </div>
                        <a class="mc-btn-action">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="mc-footer">
                            <button class="btn btn-outline-primary" href="/events/update/@ownedEvents.get(index).getEventId">Modify</button>
                            <button class="btn btn-outline-danger">Delete</button>
                            @*<button class="btn btn-outline-primary">Book</button>*@
                            @*<button class="btn btn-outline-primary">Add to WishList</button>*@
                        </div>
                    </article>
                </div>
            }
            </div>

        </div>
    </body>


</html>