
@(eventManager: User, ownedEvents : List[Event])

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../public/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../public/css/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../public/css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("../../../public/css/custom1.css")">
        <script src="@routes.Assets.versioned("../../../public/js/custom.js")" type="text/javascript"></script>
        <title>Welcome to BookIT</title>
    </head>
    <body>
        <h2>Your Profile</h2>
        <ul>
            <li><strong>Name</strong> @eventManager.userName</li>
            <li><strong>Email</strong> @eventManager.userEmail</li>
            <li><strong>Phone</strong> @eventManager.phoneNo</li>
        </ul>

        <h2>Your Events</h2>
        <ul>
            @for(index <- 0 until ownedEvents.size){
                <li>
                    <a href ="#">@ownedEvents.get(index).getEventName</a>
                </li>
            }
        </ul>

        <a href="/event/create"<button>Create Event</button>
    </body>

</html>