@(ticket: Ticket, event: Event, user: User)

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/custom1.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/topBar.css")">
        <script src="@routes.Assets.versioned("js/custom.js")" type="text/javascript"></script>
        <title>Welcome to BookIT</title>
    </head>
    <body>
        <div id='cssmenu'>
            <ul>
                <li class='active'><a href='/customer/@user.getUserEmail'>Home</a></li>
                <li><a href='/customer/show/@user.getUserEmail'>Profile</a></li>
                <li><a href='/customer/viewHistory/@user.getUserEmail'>Booking History</a></li>
                <li><a href='/customer/viewWishList/@user.getUserEmail'>Wish List</a></li>
                <li><a href='/signOut'>Log Out</a></li>
            </ul>
        </div>
        <div class="h4"></div>
            <h2>Booking successful</h2>
            <h2>Ticket Details</h2>
            <ul>
                <li><strong>Event:</strong> @event.getEventName</li>
                <li><strong>Location:</strong> @event.getEventLocation</li>
                <li><strong>Date:</strong> @event.getEventDate</li>
                <li><Strong>Total number of seats:</Strong> @ticket.getNumSeats</li>
                <li id="cost"><Strong>Total cost:</Strong> @{ticket.getNumSeats*event.getPerTicketCost}</li>
                <br>
            </ul>
    </body>
</html>