@(eventList: List[Event], user: User)


<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/topBar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/cards.css")">

        <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/cards.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("/js/custom.js")" type="text/javascript"></script>
        <title>Welcome to BookIT</title>
    </head>
    <body>
        <div id='cssmenu'>
            <ul>
                <li><a href='/customer/@user.getUserEmail'>Home</a></li>
                <li><a href='/customer/show/@user.getUserEmail'>Profile</a></li>
                <li><a href='/customer/viewHistory/@user.getUserEmail'>Booking History</a></li>
                <li class='active'><a href='/customer/viewWishList/@user.getUserEmail'>Wish List</a></li>
                <li><a href='/signOut'>Log Out</a></li>
            </ul>
        </div>
        <br>
        <div class="row justify-content-center">
            <p class="form-control btn btn-outline-dark">Your Wish List</p>
        </div>
        <br>

        <div class="container">
            <div class="row active-with-click">
            @for(index <- 0 until eventList.size) {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <article class="material-card Teal">
                        <h2>
                            <span>@eventList.get(index).getEventName
                                    </span>
                            <strong>
                                <i class="fa fa-fw fa-star"></i>
                                Location: @eventList.get(index).getEventLocation
                                <p></p>
                            </strong>
                        </h2>
                        <div class="mc-content">
                            <div class="img-container">
                                <img class="img-responsive" src="@routes.Assets.versioned("images/Concert2_Customer.jpg")">
                            </div>
                            <div class="mc-description">
                                <p>Number of Available Seats: <strong> @eventList.get(index).getAvailableNoOfSeats</strong></p>
                                <p> Cost per Ticket :<strong>$ @eventList.get(index).getPerTicketCost</strong></p>
                                <p>Date of the event: <strong>@eventList.get(index).getEventDate </strong></p>
                                <p>Event owner : @eventList.get(index).getEventOwnerEmail</p>
                            </div>
                        </div>
                        <a class="mc-btn-action">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="mc-footer">
                            <form method="get" action="/event/book/@eventList.get(index).getEventId">
                                <button class="btn btn-outline-info">Book</button>
                                <button class="btn btn-outline-info" formaction="/customer/removeFromWishList/@eventList.get(index).getEventId">Remove from WishList</button>
                            </form>
                        </div>
                    </article>
                </div>
            }
            </div>
        </div>
    </body>
</html>