@(customer: User)

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/searchBar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/navbar.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/cards.css")">
        <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/navbar.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/cards.js")" type="text/javascript"></script>
        <title>Customer Dashboard</title>
    </head>
    <body>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group" id="adv-search">
                        <input type="text" class="form-control" placeholder="Search for Events" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter">Filter by</label>
                                                <select class="form-control">
                                                    <option value="0" selected>All Snippets</option>
                                                    <option value="1">Featured</option>
                                                    <option value="2">Most popular</option>
                                                    <option value="3">Top rated</option>
                                                    <option value="4">Most commented</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Author</label>
                                                <input class="form-control" type="text" />
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Contains the words</label>
                                                <input class="form-control" type="text" />
                                            </div>
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </form>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bars" id="nav-action">
            <span class="bar"> </span>
        </div>

            <!--Navbar Links-->
        <nav id="nav">
            <ul>
                <li class="shape-circle circle-three"><a href="/customer/viewHistory/@customer.getUserEmail">Booking History</a></li>
                <li class="shape-circle circle-two"><a href="/signOut">Sign Out</a></li>
                <li class="shape-circle circle-five">
                    <a href="/customer/show/@customer.getUserEmail">Profile</a>
                </li>
            </ul>
        </nav>



        <h2>Popular Events</h2>
        <ul>
            <li>Event 1</li>
            <li>Event 2</li>
            <li>Event 3</li>
        </ul>
        <ul>
            <a href="/customer/viewWishList/@customer.getUserEmail"><button>View Wish List</button></a>
        </ul>
        <h5>
            <a href = "/event/search/@customer.getUserEmail">Search for events</a>
        </h5>
    </body>

</html>