@(admin: User, ownedEvents : List[Event])

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/cards.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/topBar.css")">

        <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/navbar.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/cards.js")" type="text/javascript"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>Admin Profile</title>
    </head>

    <body>

        <div id='cssmenu'>
            <ul>
                <li class='active'><a href='#'>Home</a></li>
                <li><a href = "/admin/@admin.getUserEmail/manage/em">Manage EM</a></li>
                <li><a href = "/admin/@admin.getUserEmail/event">Manage Events</a></li>
                <li><a href='/admin/showProfile/@admin.getUserEmail'>Profile</a></li>
                <li><a href='/signOut'>Log Out</a></li>
            </ul>
        </div>
        @*<!--HamBurger Icon-->*@
        @*<div class="bars" id="nav-action">*@
        @*<span class="bar"> </span>*@
        @*</div>*@

        @*<!--Navbar Links-->*@
        @*<nav id="nav">*@
        @*<ul>*@
        @*<li class="shape-circle circle-two"><a href="/signOut">Sign Out</a></li>*@
        @*<li class="shape-circle circle-five">*@
        @*<a href="/eventManager/showProfile/@eventManager.getUserEmail">Profile</a>*@
        @*</li>*@
        @*</ul>*@
        @*</nav>*@

        <br>
        <br>
        <br>
        @*<script>*@
        @*$().alert('close');*@
        @*</script>*@


        @*<div class = "container">*@
            @*<div class="row justify-content-center">*@
                @*<div class="col-md-4">*@
                    @*<a href="/event/create"><button class="btn btn-lg btn-info btn-block">Create Event</button></a>*@
                @*</div>*@
            @*</div>*@

        @*</div>*@
        <div class="row justify-content-center">
            <p class="form-control btn btn-outline-dark">All Events</p>
        </div>

            <div class="row active-with-click">
            @for(index <- 0 until ownedEvents.size) {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <article class="material-card Blue">
                        <h2>
                            <p>@ownedEvents.get(index).getEventName</p>
                            <strong>
                                <i class="fa fa-fw fa-star"></i>
                                @ownedEvents.get(index).getEventLocation
                            </strong>
                        </h2>
                        <div class="mc-content">
                            <div class="img-container">
                                <img class="img-responsive" src="@routes.Assets.versioned("images/concert2_EventManager.jpg")">
                            </div>
                            <div class="mc-description">
                                <p>Date of the Event: <strong>@ownedEvents.get(index).getEventDate</strong></p>
                                <p>Owner of the Event: <strong> @ownedEvents.get(index).getEventOwnerEmail</strong></p>
                                <p>Number of Available Seats: <strong> @ownedEvents.get(index).getAvailableNoOfSeats</strong></p>
                                <p> Cost per Ticket: <strong>$ @ownedEvents.get(index).getPerTicketCost</strong></p>
                                <p> Sales: <h4> @ownedEvents.get(index).getTotalSales</h4></p>
                            </div>
                        </div>
                        <a class="mc-btn-action">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="mc-footer">
                            <a href="/admin/@admin.getUserEmail/updateevent/@ownedEvents.get(index).getEventId"> <button class="btn btn-outline-primary" >Modify</button></a>
                            <a href="/admin/@admin.getUserEmail/deleteevent/@ownedEvents.get(index).getEventId"><button class="btn btn-outline-danger">Delete</button></a>
                            @*<button class="btn btn-outline-primary">Book</button>*@
                            @*<button class="btn btn-outline-primary">Add to WishList</button>*@
                        </div>
                    </article>
                </div>
            }
            </div>
    </body>


</html>